# Topic ideas

---

Group name: Jenny Schönfeld, Jimi Kim, Felix Daubner

---

*Replace the italic texts with your descriptions*

In [1]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.0f' % x)

## The European Social Survey: Understanding Social Trends

### Data source

*State the source of the data set and describe when and how it was originally collected (by the original data curator, not necessarily how you found the data)*

The European Social Survey (ESS), conducted in over 30 countries, aims to monitor changing public attitudes in Europe, improve cross-national survey methods, and develop social indicators. In its fifth round, funded by national contributors and supplemented by the European Science Foundation and City University in the UK, the survey employs strict random probability sampling and hour-long face-to-face interviews on core topics and specific modules.

https://ess-search.nsd.no/en/study/fd0dc7b6-3d5a-42d4-ad46-7a78e44e3963


### Data characterisitcs

 *Describe the observations and the general characteristics being measured in the data (note that the data needs to meet the  criteria described in the project description)*

The survey involves strict random probability sampling, a minimum target response rate of 70% and rigorous translation protocols. The hour-long face-to-face interview includes questions on a variety of core topics repeated from previous rounds of the survey and also two modules developed for Round Five covering  Trust in the Police and Courts and Work, Family and Wellbeing (the latter is a partial repeat of a module from round 2).
The dataset contains 52458 rows and 674 columns. Each entry represents one person, so the dataset contains the answers of 52458 people on social, political, societal and personal issues.

### Research question

*Describe a research question you're interested in answering using this data. State the response variable and possible predictor variables.*

Regression:
Correlations between the gross-pay for people from Germany and the following predictor variables will be examined.
Our model will predict a person’s gross-pay depending on their social and political preferences and economic situation.

Possible predictor variables: How interested in politics, Placement on left right scale, Highest level of education (person and parents), Mother/Father responsible for supervising other employees, Newspaper reading, Personal use of internet, TV watching, Radio listening, Important to be rich, Important to follow rules, Main source of household income, Total number of years in full or part-time work etc.

Classification:
We would like to predict the Happiness-Score for people from Germany based on the following predictor variables and find out which variables influence the happiness of a person.

Possible predictor variables: How interested in politics, Placement on left right scale, Highest level of education person, Newspaper reading, Personal use of internet, TV watching, Radio listening, Important to seek fun, Important to get respect, Important to have a good time, Relationship with husband/wife/partner, Government should reduce differences in income level, How often disagree with husband/wife/partner about money, Worry about work problems when not working etc.

### Overview of data

*Use the Pandas functions to provide an overview of the data set*
See below.

In [2]:
df1 = pd.read_csv("../data/raw/ESS5e03_4.csv")
df1.head()

,name,essround,edition,proddate,idno,cntry,dweight,pspwght,pweight,tvtot,...,inwyye,inwehh,inwemm,spltadmd,supqad1,supqad2,supqdd,supqmm,supqyr,inwtm
0,ESS5e03_4,5,3,01.12.2018,100102,BE,1,1,1,5,...,2010,14,2,3,6,1,20,11,2010,26
1,ESS5e03_4,5,3,01.12.2018,100106,BE,1,1,1,4,...,2010,15,54,1,6,1,7,11,2010,104
2,ESS5e03_4,5,3,01.12.2018,100202,BE,1,1,1,4,...,2010,14,46,1,6,1,4,11,2010,41
3,ESS5e03_4,5,3,01.12.2018,100204,BE,1,1,1,2,...,2010,12,7,2,6,1,29,10,2010,56
4,ESS5e03_4,5,3,01.12.2018,100209,BE,1,1,1,7,...,2010,14,48,3,6,1,29,10,2010,78

In [3]:
df1.describe().T.head() # for better visualizations

          count    mean      std  min  25%  50%    75%       max
essround  52458       5        0    5    5    5      5         5
edition   52458       3        0    3    3    3      3         3
idno      52458 7231685 35812998    1 1433 3673 107708 300003000
dweight   52458       1        0    0    1    1      1         4
pspwght   52458       1        1    0    1    1      1         5

In [4]:
df1.shape

(52458, 674)

In [5]:
df1.dtypes.value_counts()

int64      354
float64    310
object      10
Name: count, dtype: int64

In [6]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52458 entries, 0 to 52457
Columns: 674 entries, name to inwtm
dtypes: float64(310), int64(354), object(10)
memory usage: 269.8+ MB